@keyframes color-change {
    0% {
      color: beige;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: beige;
    }
}

h1 {
    animation: color-change 3s infinite;
}

body {
    font-family: Arial,  sans-serif; /* keluarga font */
    font-size: 11px; /* Ukuran font utama pada tag <p></p> */
    background-color: #d9f0fa; /* Warna latar belakang laman web */
    color: #2c3d6b; /* Warna teks */ 
}
h1 {
    color: #000000; /* Warna tajuk (header)*/
    font-size: 24px; /* Ukuran font tajuk (header) */
    font-family: Arial,  sans-serif; /* Keluarga font yang digunakan di tajuk (header) */
}